$dark-main: #090C18;
// $dark-main: #0E1922;

$paper-white: #ECE8E1;
$paper-white-complement: #0F1923;

$light-main: #D7E2E1;
$dark2-main: #2A3239;
$highlight-green: #4AD847;
$highlight-lightgreen: #92ed83;
$highlight-blue: #0B7ADB;
$highlight-orange: #DB7216;
$highlight-salmon: #E37B7B;
$highlight-lightsalmon: #ffdadf;
$highlight-aquamarine: #44C295;