$nav-height: 70px;
$nav-width: 100px;
$nav-width-extended: 300px;

// Text Sizing
$--fs-xl: clamp(1rem, 5vw, 12rem);
$--fs-l: clamp(1rem, 4vw, 9rem);
$--fs-600: 2rem;
$--fs-500: 1.3rem;
$--fs-400: clamp(.7rem, 1vw, 1rem);
$--fs-300: .9rem;
$--fs-200: .7rem;