@import 'color';
@import 'size';

$--mid-margin: 20px !important;
$--line-height: 300px;
$--margin-bottom: 20vh;

.container {
  width: 100%;
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: $--margin-bottom;
}

.text_large {
  font-size: $--fs-l;
}

.text_small {
  font-size: $--fs-400;
  // width: 400px;
}

.text_about {
  text-align: end;
}

.text_education {
  text-align: start;
}

.title_about {
  text-align: end;
}

.title_education {
  text-align: start;
}

.aboutme_container {
  // background-color: orange;
  color: $highlight-salmon;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: $--mid-margin;
  a {
    &:hover {
      p {
        text-decoration: overline;
      }
    }
  }
}

.education_container {
  // background-color: orange;
  color: $highlight-aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: $--mid-margin;
  a {
    &:hover {
      p {
        text-decoration: overline;
      }
    }
  }
}

.line {
  position: relative;
  background-color: white;
  height: $--line-height !important;
  width: 5px !important;
  right: calc(50%);
  top: calc(50% - $--line-height / 2);
}