/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
} */
.container {
  width: 300vw !important;
  height: 150vh;
  /* overflow: hidden; */
  position: fixed;
  display: block;
  z-index: 1 !important;
}
@keyframes aura {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: translateY(100px) rotate(1deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: translateY(-10px) rotate(16deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
@keyframes northern {
  0% {
    transform: translate(5%, -2%);
  }
  25% {
    transform: translate(10%, 7%);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: translate(7%, -2%);
  }
  85% {
    transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    transform: none;
  }
}
.auroral-agrabah {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), linear-gradient(60deg, #1a00c0 10%, #d70043); 
  background: -moz-linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), -moz-linear-gradient(60deg, #1a00c0 10%, #d70043); 
  background: -webkit-linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), -webkit-linear-gradient(60deg, #1a00c0 10%, #d70043); 
  transition: opacity linear 0.8s;
  opacity: 0;
}

.auroral-northern {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, transparent 90%, #a1d9b4 100%), linear-gradient(-20deg, #000e3c 0%, #32988a);
  background: -moz-linear-gradient(-20deg, #000e3c 20%, #32988a 40%, #a1d9b4 100%);
  background: -webkit-linear-gradient(-20deg, #000e3c 20%, #32988a 40%, #a1d9b4 100%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.auroral-northern-intense {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, transparent 90%, #b7a841 100%), linear-gradient(60deg, #a1006a 0%, #371d40);
  background: -moz-linear-gradient(-20deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
  background: -webkit-linear-gradient(-20deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.auroral-northern-dimmed {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, #5D85A6 0%, #0E2C5E 80%);
  background: -moz-linear-gradient(-20deg, #5D85A6 0%, #0E2C5E 80%);
  background: -webkit-linear-gradient(-20deg, #5D85A6 0%, #0E2C5E 80%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.auroral-northern-dusk {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, #f73e1e 20%, #3193cc 80%);
  background: -moz-linear-gradient(-20deg, #f73e1e 20%, #3193cc 80%);
  background: -webkit-linear-gradient(-20deg, #f73e1e 20%, #3193cc 80%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.auroral-northern-warm {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, transparent 90%, #da7712 100%), linear-gradient(60deg, #d96d7d 30%, #da7712);
  background: -moz-linear-gradient(-20deg, transparent 90%, #da7712 100%), -moz-linear-gradient(60deg, #d96d7d 30%, #da7712);
  background: -webkit-linear-gradient(-20deg, transparent 90%, #da7712 100%), -webkit-linear-gradient(60deg, #d96d7d 30%, #da7712);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}


.auroral-dg-31 {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(0deg, #4063BC 0%, #6B0013 100%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.auroral-dg-26 {
  position: absolute;
  left: -25%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-15deg, #FF3F3F 30%, #063CFF 70%);
  transition: opacity linear 0.8s;
  opacity: 0;
  z-index: 1 !important;
}

.star-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 1px !important;
  height: 1px !important;
  border-radius: 50%;
  background: white;
  box-shadow: 34vw 12vh 0 1px rgba(255, 255, 255, 0.7), 98vw 7vh 0 2px rgba(255, 255, 255, 0.7), 68vw 18vh 0 2px rgba(255, 255, 255, 0.7), 55vw 21vh 0 2px rgba(255, 255, 255, 0.7), 31vw 17vh 0 2px rgba(255, 255, 255, 0.7), 30vw 38vh 0 1px rgba(255, 255, 255, 0.7), 67vw 16vh 0 2px rgba(255, 255, 255, 0.7), 79vw 22vh 0 2px rgba(255, 255, 255, 0.7), 83vw 18vh 0 1px rgba(255, 255, 255, 0.7), 82vw 35vh 0 2px rgba(255, 255, 255, 0.7), 24vw 2vh 0 2px rgba(255, 255, 255, 0.7), 43vw 8vh 0 2px rgba(255, 255, 255, 0.7), 99vw 45vh 0 2px rgba(255, 255, 255, 0.7), 72vw 27vh 0 1px rgba(255, 255, 255, 0.7), 49vw 29vh 0 1px rgba(255, 255, 255, 0.7), 55vw 37vh 0 1px rgba(255, 255, 255, 0.7), 92vw 39vh 0 2px rgba(255, 255, 255, 0.7), 93vw 44vh 0 2px rgba(255, 255, 255, 0.7), 33vw 14vh 0 2px rgba(255, 255, 255, 0.7), 70vw 20vh 0 2px rgba(255, 255, 255, 0.7), 73vw 28vh 0 1px rgba(255, 255, 255, 0.7), 88vw 10vh 0 2px rgba(255, 255, 255, 0.7), 16vw 41vh 0 2px rgba(255, 255, 255, 0.7), 53vw 4vh 0 2px rgba(255, 255, 255, 0.7), 73vw 19vh 0 2px rgba(255, 255, 255, 0.7), 56vw 19vh 0 2px rgba(255, 255, 255, 0.7), 94vw 25vh 0 2px rgba(255, 255, 255, 0.7), 18vw 10vh 0 1px rgba(255, 255, 255, 0.7), 79vw 4vh 0 2px rgba(255, 255, 255, 0.7), 43vw 20vh 0 2px rgba(255, 255, 255, 0.7), 9vw 14vh 0 2px rgba(255, 255, 255, 0.7), 11vw 7vh 0 2px rgba(255, 255, 255, 0.7), 63vw 20vh 0 1px rgba(255, 255, 255, 0.7), 62vw 50vh 0 1px rgba(255, 255, 255, 0.7), 97vw 33vh 0 1px rgba(255, 255, 255, 0.7), 74vw 1vh 0 2px rgba(255, 255, 255, 0.7), 47vw 20vh 0 2px rgba(255, 255, 255, 0.7), 82vw 28vh 0 1px rgba(255, 255, 255, 0.7), 13vw 2vh 0 1px rgba(255, 255, 255, 0.7), 18vw 43vh 0 1px rgba(255, 255, 255, 0.7), 12vw 15vh 0 1px rgba(255, 255, 255, 0.7), 8vw 24vh 0 1px rgba(255, 255, 255, 0.7), 24vw 44vh 0 2px rgba(255, 255, 255, 0.7), 71vw 40vh 0 1px rgba(255, 255, 255, 0.7), 77vw 41vh 0 1px rgba(255, 255, 255, 0.7), 52vw 38vh 0 1px rgba(255, 255, 255, 0.7), 6vw 36vh 0 2px rgba(255, 255, 255, 0.7), 39vw 25vh 0 1px rgba(255, 255, 255, 0.7), 8vw 31vh 0 2px rgba(255, 255, 255, 0.7), 52vw 34vh 0 1px rgba(255, 255, 255, 0.7), 30vw 2vh 0 1px rgba(255, 255, 255, 0.7), 26vw 45vh 0 2px rgba(255, 255, 255, 0.7), 47vw 11vh 0 2px rgba(255, 255, 255, 0.7), 87vw 26vh 0 2px rgba(255, 255, 255, 0.7), 93vw 31vh 0 2px rgba(255, 255, 255, 0.7), 44vw 17vh 0 2px rgba(255, 255, 255, 0.7), 21vw 12vh 0 2px rgba(255, 255, 255, 0.7), 98vw 13vh 0 2px rgba(255, 255, 255, 0.7), 10vw 39vh 0 1px rgba(255, 255, 255, 0.7), 3vw 31vh 0 2px rgba(255, 255, 255, 0.7), 8vw 7vh 0 2px rgba(255, 255, 255, 0.7), 99vw 1vh 0 2px rgba(255, 255, 255, 0.7), 36vw 20vh 0 2px rgba(255, 255, 255, 0.7), 81vw 1vh 0 1px rgba(255, 255, 255, 0.7), 69vw 28vh 0 2px rgba(255, 255, 255, 0.7), 26vw 36vh 0 2px rgba(255, 255, 255, 0.7), 29vw 49vh 0 1px rgba(255, 255, 255, 0.7), 3vw 16vh 0 2px rgba(255, 255, 255, 0.7), 18vw 37vh 0 1px rgba(255, 255, 255, 0.7), 93vw 44vh 0 1px rgba(255, 255, 255, 0.7), 39vw 19vh 0 2px rgba(255, 255, 255, 0.7), 86vw 3vh 0 2px rgba(255, 255, 255, 0.7), 75vw 39vh 0 1px rgba(255, 255, 255, 0.7), 30vw 17vh 0 2px rgba(255, 255, 255, 0.7), 83vw 9vh 0 1px rgba(255, 255, 255, 0.7), 55vw 30vh 0 1px rgba(255, 255, 255, 0.7), 35vw 3vh 0 2px rgba(255, 255, 255, 0.7), 71vw 39vh 0 2px rgba(255, 255, 255, 0.7), 91vw 31vh 0 2px rgba(255, 255, 255, 0.7), 24vw 27vh 0 2px rgba(255, 255, 255, 0.7), 76vw 3vh 0 2px rgba(255, 255, 255, 0.7), 20vw 1vh 0 2px rgba(255, 255, 255, 0.7), 9vw 19vh 0 2px rgba(255, 255, 255, 0.7), 2vw 18vh 0 1px rgba(255, 255, 255, 0.7), 18vw 23vh 0 2px rgba(255, 255, 255, 0.7), 8vw 17vh 0 1px rgba(255, 255, 255, 0.7), 94vw 26vh 0 1px rgba(255, 255, 255, 0.7), 16vw 22vh 0 1px rgba(255, 255, 255, 0.7), 90vw 24vh 0 1px rgba(255, 255, 255, 0.7), 1vw 45vh 0 1px rgba(255, 255, 255, 0.7), 12vw 44vh 0 1px rgba(255, 255, 255, 0.7), 72vw 11vh 0 2px rgba(255, 255, 255, 0.7), 54vw 25vh 0 1px rgba(255, 255, 255, 0.7), 42vw 7vh 0 2px rgba(255, 255, 255, 0.7), 44vw 42vh 0 1px rgba(255, 255, 255, 0.7), 46vw 50vh 0 1px rgba(255, 255, 255, 0.7), 61vw 8vh 0 2px rgba(255, 255, 255, 0.7), 4vw 41vh 0 1px rgba(255, 255, 255, 0.7), 10vw 23vh 0 1px rgba(255, 255, 255, 0.7), 60vw 9vh 0 2px rgba(255, 255, 255, 0.7), 18vw 11vh 0 0 rgba(255, 255, 255, 0.9);
}

.toggle_btn {
  position: fixed;
  z-index: 15 !important;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border-color: white;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

/* .mask {
  position: absolute;
  width: 200vw !important;
  height: 200vh;
  pointer-events: none;
  background: radial-gradient(circle, transparent 150px, rgba(0, 0, 0, 0.8) 300px);
  mix-blend-mode: multiply;
  overflow: hidden;
} *//*# sourceMappingURL=Auroral.module.css.map */