@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
@import 'color';

.container {
  height: 180px;
  position: relative;
  // background-color: $paper-white-complement;
}
.arrow {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 20px;
  left: 100px;
  color: white;
}

.text {
  position: relative;
  bottom: 0px;
  left: 130px;
  color: white;
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  transform: rotate(15deg);
  width: 200px;
}