@import 'size';
@import 'color';

// Chappie Image Sizing
$--img-chap-width: clamp(6rem, 15vw, 15rem);
$--img-chap-height: clamp(6rem, 15vw, 15rem);

$graphic-height: calc(100vh - #{$nav-height});

.accent_green {
  color: $highlight-aquamarine;
}
.accent_blue {
  color: $highlight-blue;
}
.accent_orange {
  color: $highlight-orange;
}
.text_large {
  font-size: 15px;
}
.text_small {
  font-size: 15px;
  word-wrap: break-word;
}

.container {
  height: $graphic-height;
  width: 100%;
  // font-size: 100%;
  position: relative;
  box-sizing: content-box;
  z-index: 10 !important;
}

img.graphic {
  background-size: cover;
  object-fit: cover;
  // position: fixed;
  top: $nav-height;
  width: 100%;
  height: $graphic-height;

  // Fade in
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.overlay {
  width: 100%;
  height: $graphic-height;
  background: rgb(9,12,24);
  background: linear-gradient(0deg, rgba(9,12,24,1) 1%, rgba(9,12,24,0.6) 100%);
  z-index: 11;
  // top: $nav-height;
  position: absolute;
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}

.content_container {
  width: 50% !important;
  @media (max-width: 1530px) {
    width: 90% !important;
    margin-left: 10%;
  }
  h1 {
    font-size: $--fs-xl;
  }
  h6 {
    font-size: $--fs-400;
  }
}

img.chap {
  border-radius: 360px;
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
  // Fade in
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.chappie_img_container {
  margin-right: 50px !important;
  overflow: hidden;
  border-radius: 360px;
  width: $--img-chap-width !important;
  height: $--img-chap-height;
  position: relative;
}

.chappie_container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.line {
  width: 100%;
  height: 3px;
  background-color: $highlight-aquamarine;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
}

.arrow {
  color: white;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 15;
  &:hover {
    height: 60px;
    color: lightblue;
  }
}
