@import 'size';
@import 'color';

$graphic-height: calc(100vh - #{$nav-height});

.accent_green {
  color: $highlight-green
}
.accent_blue {
  color: $highlight-blue
}
.text_large {
  font-size: 15px;
}
.text_small {
  font-size: 15px;
}

.container {
  height: $graphic-height;
  width: 100%;
}

img.graphic {
  z-index: 10;
  background-size: cover;
  object-fit: cover;
  /* position: fixed; */
  width: 100%;
  height: $graphic-height;

  // Fade in
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.overlay {
  width: 100%;
  height: $graphic-height;
  background: rgb(9,12,24);
  background: linear-gradient(0deg, rgba(9,12,24,1) 1%, rgba(9,12,24,0.6) 100%);
  z-index: 11;
  top: $nav-height;
  position: absolute;
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}

.content_container {
  width: 50% !important;
  font-size: 32px;
  h1 {
    font-size: 100px;
  }
}

img.chap {
  width: 200px;
  height: 200px;
  border-radius: 360px;
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: cover;
  object-fit: cover;
  margin-right: 4rem;
}

.chappie_container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
