@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import 'size';

.nav {
  height: $nav-height;
  padding: 10px;
  background: #090C18;
  color: #D7E2E1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 20 !Important;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  &:hover {
    color: lightblue;
  }
}

.nav ul li {
  margin: 5px 25px;
  
}
.nav ul li h3 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.social-links {
  li {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.social-links {
  margin-left: auto;  /* Push to right */
  font-weight: 300;
}

.info-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  &:hover {
    color: lightblue;
    transition: .2s;
  }
}

.logo-main {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo-text-bold {
    
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-self: flex-start;
  font-weight: 500;
  cursor: pointer;
}

.logo-text-normal {
    
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-self: flex-start;
  font-weight: 100;
  cursor: pointer;
}
