@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
.nav {
  position: fixed !important;
  height: 100vh;
  width: 100px;
  background: #090C18;
  color: #D7E2E1;
  display: flex;
  flex-direction: column;
  z-index: 20 !important;
  transition: width 0.5s;
  overflow-x: hidden;
}
.nav .nav_titles {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  grid-row: 1;
  grid-column: 2;
}
.nav:hover {
  width: 300px;
}
.nav:hover .nav_titles {
  visibility: visible;
}

.nav_menu {
  height: 70px;
  width: 100%;
  padding: 10px;
  background: #090C18;
  color: #D7E2E1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 20 !important;
}

.nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 37.5px;
  list-style: none;
  cursor: pointer;
}
.nav ul li:hover {
  color: #44C295;
}

.icon {
  height: 30px;
  width: 25px;
}

.nav ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav ul li a {
  display: grid;
  align-items: center;
  overflow: hidden;
  grid-template-columns: 1fr 5fr;
}
.nav ul li a h1 {
  margin-left: 20px;
}

.nav ul li a h1 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.social-links li {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-links {
  margin-left: auto; /* Push to right */
  font-weight: 300;
  list-style: none;
  position: absolute;
  bottom: 20px;
}

.info-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.info-icon:hover {
  color: #44C295;
  transition: 0.2s;
}

.logo_container {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.logo-main {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo-text-bold {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-self: flex-start;
  font-weight: 500;
  cursor: pointer;
}

.logo-text-normal {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-self: flex-start;
  font-weight: 100;
  cursor: pointer;
}

.nav_normal {
  display: flex;
  flex-direction: row;
}

.collapsed_links_container {
  width: 100%;
  background-color: red;
  display: none;
}

.collapsed_links_main {
  display: flex;
  flex-direction: column;
}

.btnmenu {
  width: 30px;
  height: 30px;
  margin-left: auto;
}
.btnmenu:hover {
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
}

.menu_show {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #090C18 !important;
  color: white;
  z-index: 20 !important;
  overflow: hidden;
}

.menu_hide {
  position: relative;
  height: 0;
  display: flex;
  flex-direction: column;
  background-color: #090C18 !important;
  color: white;
  z-index: 20 !important;
  overflow: hidden;
}

.menu_links_list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.menu_links_list li:hover {
  color: lightblue;
}
.menu_links_list li {
  margin: 5px 25px;
}
.menu_links_list li a {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu_links_list .menu_social_links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-position: outside;
}/*# sourceMappingURL=Nav.module.css.map */