@import 'color';
@import 'size';

img.preview {
  // width: 300px;
  height: 300px;
  border-radius: 12px;

  
  width: 100%;
  object-fit: cover;
}

.project_desc_container {
  // background-color: orange;
  display: flex;
  position: relative;
  flex-direction: column;
  // justify-content: space-evenly;
  margin: 2rem;
  width: 30rem !important;
  // border:2px solid #dadce050;
  border-radius: 8px;
  // padding: 10px;
  overflow: hidden;
  // height: 70vh;

  h1 {
    font-size: $--fs-500;
  }
  .project_links {
    cursor: pointer;
    a {
      margin-right: 15px;
    }
  }

  .link_active {
    color: $highlight-blue;
  }
  .link_inctive {
    color: grey;
  }
}
