@import 'color';
@import 'size';

.container {
  color: white;
  min-height: 100vh;
  width: 100%;

  padding-left: $nav-width;
  padding-right: $nav-width;

  position: relative;
  padding-bottom: 100px;

  .title {
    text-align: start !important;
    padding-top: 20px;
    align-items: start;
  }
}

.project_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: rgba(29, 36, 49, 0.95);

  border-color: rgba(240, 240, 240, 0.2);
  border-width: 2px;
  border-style: solid;
  border-radius: calc(50vw);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(31, 68, 63, 0.1);

  position: relative;
}

.more_projects {
  color: white;
  text-decoration: underline;
}