@import 'color';
@import 'size';

img.preview {
  // width: 300px;

  border-radius: 12px;
  object-fit: cover;
  position: relative !important;
}

.image_container {
  height: 300px;
  width: 100%;
  position: relative;
}

.project_desc_container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2rem;
  width: 30rem !important;
  border-radius: 8px;
  overflow: hidden;

  h1 {
    font-size: $--fs-500;
  }
  .project_links {
    cursor: pointer;
    a {
      margin-right: 15px;
    }
  }

  .link_active {
    color: $highlight-blue;
  }
  .link_inctive {
    color: grey;
  }
}
