// Chappie Image Sizing
$--img-chap-width: clamp(6rem, 15vw, 15rem);
$--img-chap-height: clamp(6rem, 15vw, 15rem);

.container {
  min-height: 50vh;
  width: 100%;
  box-sizing: content-box;
  z-index: 10 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
}


.text_small {
  font-size: 15px;
  width: fit-content;
}

img.chap {
  border-radius: 360px;
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
  // Fade in
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.chappie_img_container {
  margin-right: 50px !important;
  overflow: hidden;
  border-radius: 360px;
  width: $--img-chap-width !important;
  height: $--img-chap-height;
  position: relative;
}

.chappie_container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}